.banner {
  background: url(./banner.jpg) center/cover no-repeat;
  min-height: 50vh !important;
}
* h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}
.banner1 {
  min-height: 500px !important;
  background: rgba(6, 16, 110, 0.466);
}
.footer-main {
  background: url(./footer.jpg) center/cover no-repeat;
}
.header {
  background: white;
}
.bg1 {
  background: black;
}
.row1 {
  background: rgba(11, 14, 20, 0.932) !important;
}
* h1 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* a,
* label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.animated-text {
  font-size: 1.2rem; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  overflow: hidden; /* Cache le débordement */
  display: inline-block; /* Nécessaire pour l'animation */
  white-space: nowrap; /* Empêche le retour à la ligne */
  transition: opacity 0.5s ease; /* Transition fluide pour l'opacité */
  opacity: 1; /* Opacité initiale */
}

.hidden {
  opacity: 0; /* Rendre le texte invisible */
}
.dialog-box {
  position: fixed;
  bottom: 1px;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%); /* Initialement hors de l'écran à gauche */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; /* Invisible au départ */
  display: block; /* Toujours présent mais caché par le transform */
}

.dialog-box.show {
  transform: translateX(0); /* Glisse à sa position normale */
  opacity: 1; /* Devient visible */
}
.dialog-box2 {
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%); /* Initialement hors de l'écran à gauche */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; /* Invisible au départ */
  display: block; /* Toujours présent mais caché par le transform */
}

.dialog-box2.show2 {
  transform: translateX(0); /* Glisse à sa position normale */
  opacity: 1; /* Devient visible */
}

.dialog-box3 {
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%); /* Initialement hors de l'écran à gauche */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; /* Invisible au départ */
  display: block; /* Toujours présent mais caché par le transform */
}

.dialog-box3.show3 {
  transform: translateX(0); /* Glisse à sa position normale */
  opacity: 1; /* Devient visible */
}

.scroll-section.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.skills{
    background: #007bff;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
}
